# Some covid stats

In [1]:
import pandas
import numpy as np

In [2]:
df = pandas.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv')
df['Confirmed'] = df['Confirmed'].astype(int)
df['Deaths'] = df['Deaths'].astype(int)
df['Recovered'] = df['Recovered'].astype(int)
df = df[df['Country_Region'] == 'US']

In [3]:
def render_grouping(col):
    df2 = df.groupby(col).sum().sort_values(by=['Confirmed'], ascending=False)
    df2["Row #"] = np.arange(len(df2)) + 1
    return df2.filter(items=['Row #', 'Confirmed', 'Deaths', 'Recovered'])

Here we have grouped by US state

In [4]:
render_grouping('Province_State')

                          Row #  Confirmed  Deaths  Recovered
Province_State
New York                      1      92506    2373          0
New Jersey                    2      25590     537          0
Michigan                      3      10791     417          0
California                    4      10773     238          0
Louisiana                     5       9159     310          0
Florida                       6       9008     164          0
Massachusetts                 7       8966     154          0
Illinois                      8       7695     163          0
Pennsylvania                  9       7268      90          0
Washington                   10       6389     271          0
Georgia                      11       5348     163          0
Texas                        12       5069      77          0
Connecticut                  13       3824     112          0
Colorado                     14       3342      80          0
Indiana                      15       3038      78          0
Ohio                         16       2901      81          0
Tennessee                    17       2845      36          0
Maryland                     18       2331      36          0
North Carolina               19       1977      21          0
Missouri                     20       1857      22          0
Wisconsin                    21       1748      38          0
Arizona                      22       1715      32          0
Virginia                     23       1706      41          0
South Carolina               24       1554      31          0
Nevada                       25       1463      38          0
Alabama                      26       1233      32          0
Mississippi                  27       1177      26          0
Utah                         28       1092       7          0
Oklahoma                     29        881      34          0
Oregon                       30        826      21          0
Idaho                        31        776       9          0
Kentucky                     32        770      31          0
Minnesota                    33        742      18          0
Rhode Island                 34        657      12          0
District of Columbia         35        653      12          0
Arkansas                     36        643      12          0
Iowa                         37        614      11          0
Kansas                       38        553      12          0
Delaware                     39        393      12          0
New Mexico                   40        388       6          0
Maine                        41        376       7          0
Vermont                      42        338      17          0
New Hampshire                43        316       3          0
Puerto Rico                  44        316      12          0
Hawaii                       45        256       1          0
Nebraska                     46        246       5          0
Montana                      47        241       6          0
West Virginia                48        216       2          0
South Dakota                 49        165       2          0
North Dakota                 50        159       3          0
Wyoming                      51        150       0          0
Alaska                       52        143       3          0
Grand Princess               53        103       3          0
Guam                         54         82       3          0
Diamond Princess             55         49       0          0
Virgin Islands               56         30       0          0
Northern Mariana Islands     57          6       1          0
Recovered                    58          0       0       9001

Grouping by us cities

In [5]:
render_grouping('Combined_Key').head(50)

                                Row #  Confirmed  Deaths  Recovered
Combined_Key
New York City, New York, US         1      51809    1397          0
Westchester, New York, US           2      11567      64          0
Nassau, New York, US                3      10587      76          0
Suffolk, New York, US               4       8746      69          0
Cook, Illinois, US                  5       5575     107          0
Wayne,Michigan,US                   6       5069     194          0
Unassigned, New Jersey, US          7       4866       4          0
Bergen, New Jersey, US              8       4099     120          0
Los Angeles, California, US         9       4045      78          0
Rockland, New York, US             10       3751      18          0
Orleans, Louisiana, US             11       3148     125          0
Miami-Dade, Florida, US            12       2886      20          0
King, Washington, US               13       2656     175          0
Essex, New Jersey, US              14       2617      99          0
Hudson, New Jersey, US             15       2270      44          0
Oakland, Michigan, US              16       2183     119          0
Jefferson, Louisiana, US           17       2178      73          0
Fairfield, Connecticut, US         18       2132      65          0
Philadelphia, Pennsylvania, US     19       2100      13          0
Union, New Jersey, US              20       2010      34          0
Orange, New York, US               21       1993      19          0
Suffolk, Massachusetts, US         22       1896      19          0
Middlesex, Massachusetts, US       23       1870      28          0
Middlesex, New Jersey, US          24       1766      48          0
Passaic, New Jersey, US            25       1750      22          0
Broward, Florida, US               26       1481      17          0
Monmouth, New Jersey, US           27       1458      38          0
Snohomish, Washington, US          28       1376      41          0
Ocean, New Jersey, US              29       1371      38          0
Macomb, Michigan, US               30       1332      58          0
Marion, Indiana, US                31       1304      24          0
Clark, Nevada, US                  32       1125      34          0
Morris, New Jersey, US             33       1082      40          0
Essex, Massachusetts, US           34       1039      18          0
Santa Clara, California, US        35       1019      36          0
Maricopa, Arizona, US              36        961      12          0
Harris,Texas,US                    37        955       6          0
Norfolk, Massachusetts, US         38        938      21          0
Milwaukee, Wisconsin, US           39        869      16          0
San Diego, California, US          40        849      15          0
Dallas, Texas, US                  41        831      17          0
Unassigned, Georgia, US            42        778       1          0
Palm Beach, Florida, US            43        737      27          0
Montgomery, Pennsylvania, US       44        735       9          0
St. Louis, Missouri, US            45        712       4          0
Fulton, Georgia, US                46        712      22          0
Dutchess, New York, US             47        667       5          0
Worcester, Massachusetts, US       48        667      13          0
Cuyahoga, Ohio, US                 49        663      12          0
Orange, California, US             50        656      13          0